<h1> Purchases Index Page </h1> 



<% if @query.present? %>
  <p>Showing results for: <%= @query %></p>
  <a href="/purchase" class="button">Clear Search</a>
<% end %>



<form method="get" action="/purchases">
  <select name="field">
    <option value="customer_id" <%= "selected" if @field == "customer_id" %>>Customer ID</option>
    <option value="total_price" <%= "selected" if @field == "total_price" %>>Total Price</option>
  </select>

  <input type="text" name="query" value="<%= @query %>" placeholder="Search...">

  <button type="submit">Search</button>
</form>



<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Date</th>
      <th>Total Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.id %></td>
        <td><%= purchase.customer.first_name %> <%= purchase.customer.last_name %></td>
        <td><%= purchase.date %></td>
        <td><%= purchase.total_price %></td>
        <td><%= link_to "Show", purchase_path(purchase) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @purchases %>
