<h1> Customers Index Page </h1> 




<% if @query.present? %>
  <p>Showing results for: <%= @query %></p>
  <a href="/customers" class="button">Clear Search</a>
<% end %>



<form method="get" action="/customers">
  <select name="field">
    <option value="first_name" <%= "selected" if @field == "first_name" %>>First Name</option>
    <option value="last_name" <%= "selected" if @field == "last_name" %>>Last Name</option>
    <option value="phone_number" <%= "selected" if @field == "phone_number" %>>Phone Number</option>
    <option value="email" <%= "selected" if @field == "email" %>>Email</option>
  </select>

  <input type="text" name="query" value="<%= @query %>" placeholder="Search...">

  <button type="submit">Search</button>
</form>



<table>

    <thead> 
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th> 
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        <% @customers.each do |customer| %>
            <tr>
                <td><%= customer.id %></td>

                <td><%= customer.first_name %></td>
                <td><%= customer.last_name %></td>
                <td><%= customer.phone_number %></td>
                <td><%= customer.email %></td>


            </tr>
        <% end %>
    </tbody>

</table>
<%= paginate @customers %>