<h1> Products Index Page </h1> 


<% if @query.present? %>
  <p>Showing results for: <%= @query %></p>
  <a href="/products" class="button">Clear Search</a>
<% end %>



<form method="get" action="/products">
  <select name="field">
    <option value="name" <%= "selected" if @field == "name" %>>Product Name</option>
    <option value="brand" <%= "selected" if @field == "brand" %>>Product Brand</option>
    <option value="category" <%= "selected" if @field == "category" %>>Category</option>
  </select>

  <input type="text" name="query" value="<%= @query %>" placeholder="Search...">

  <button type="submit">Search</button>
</form>



<table>

    <thead> 
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Name</th> 
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td><%= product.id %></td>
                <td><%= product.brand %></td>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.category.product_category %></td>

            </tr>
        <% end %>
    </tbody>

</table>
<%= paginate @products %>